:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   background-color: #dedede;
}

html,
body,
h3 {
   margin: 0;
   padding: 0;
}

* {
   box-sizing: border-box;
}
